<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculation</title>
</head>
<body>




    <br><br>
        <form action="/calculate" method="post">
            Input Value1 :  <input type="text" name="num1"> <br><br>
            Input Value2 :  <input type="text" name="num2"> <br><br>

            <input type="radio" value="Add" name="op"> Addition
            <input type="radio" value="Sub" name="op"> Substraction
            <input type="radio" value="Mul" name="op"> Multiple
            <input type="radio" value="Div" name="op"> Division
            <input type="radio" value="Dou Num1" name="op"> Double Num1
            <input type="radio" value="Dou Num2" name="op"> Double Num2

            <!--either-->
            <br><br>

            <input type="submit" name = "calc" value = "calculate" >

            <input type="submit" name = "plot" value = "plot graph" >

        </form>






</body>
</html>